<h1 mat-subheader>Questions of {{quizTitle}}</h1>
<div class="container text-center mb20px">
    <button mat-raised-button color="primary" [routerLink]="'/admin/add-question/'+quizId+'/'+quizTitle">Add Question</button>
</div>
<div class="bootstrap-wrapper" *ngIf="questions">
    <div class="row">
        <div class="col-md-12">
            <mat-card *ngFor="let question of questions; let i = index" class="mb10px">
                    <mat-card-content >
    
                        <p>
                            <b>Q {{i+1}})</b>  <span class="ml20px" [innerHTML]="question.content"></span>
                        </p>
    
                        <div class="container-fluid">
                            <div class="row ml">
                                <div class="col-md-6">
                                    <p><b>1) </b>{{question.option1}}</p>
                                </div>
                                <div class="col-md-6">
                                    <p><b>2) </b>{{question.option2}}</p>
                                </div>
                            </div>
                            <div class="row ml">
                                <div class="col-md-6">
                                    <p><b>3) </b>{{question.option3}}</p>
                                </div>
                                <div class="col-md-6">
                                    <p><b>4) </b>{{question.option4}}</p>
                                </div>
                            </div>
                            <mat-divider></mat-divider>
                            <p class="mt10px">
                                <b>Correct Answer: </b> {{question.answer}}
                            </p>
                            <mat-card-actions class="mb0">
                                <button mat-button color="primary" [routerLink]="'/admin/update-question/'+question.questionId">
                                    update
                                </button>
                                <button mat-button color="warn" (click)="deleteQuestion(question.questionId)">
                                    delete
                                </button>
                            </mat-card-actions>
                        </div>
    
                    </mat-card-content>

            </mat-card>
        </div>
    </div>
</div>

  <app-not-found *ngIf="questions?.length == 0"></app-not-found>