/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import '~bootstrap-grid-only-css/dist/css/bootstrap-grid.min.css';


html, 
body { 
    height: 100%;
    background: #f5f5f5;
}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.text-center{
    text-align: center;
}

.text-deco{
    text-decoration: none;
}

.mt1rem{
    margin-top: 1rem;
}
.mb1rem{
    margin-bottom: 1rem;
}
.mr1rem{
    margin-right: 1rem;
}
.ml1rem{
    margin-left: 1rem;
}

.mt10px{
    margin-top: 10px;
}
.mb10px{
    margin-bottom: 10px;
}
.mr10px{
    margin-right: 10px;
}
.ml10px{
    margin-left: 10px;
}

.mt20px{
    margin-top: 20px;
}
.mb20px{
    margin-bottom: 20px;
}
.mr20px{
    margin-right: 20px;
}
.ml20px{
    margin-left: 20px;
}

.mt40px{
    margin-top: 40px;
}
.mb40px{
    margin-bottom: 40px;
}
.mr40px{
    margin-right: 40px;
}
.ml40px{
    margin-left: 40px;
}

.full-width{
    width: 100%;
}