/* .profile-image{
    max-width: 200px;
    max-height: 150px;
    border: 1px solid black;
    border-radius: 25px;
} */


*{
    box-sizing: border-box;
}

.noboder{
    border: none;
}

.boxShadow{
    box-shadow:  0rem 0rem 1rem rgba(0,0,0, .15);
}

.bold{
    font-weight: bold;
}
.mt1-5rem{
    margin-top: 3rem;
}

.margin{
    margin: 0 5%;
}
.tableSize{
    width: 90%;
}

.customcard{
    border-radius: 30px;
    border: none;
    box-sizing: border-box;
}

.formSize{
    width: 90%;

}

.mt30px{
    margin-top: 30px;
}
.mb30px{
    margin-bottom: 30px;
}

/* 
.table{
    width: 80%;
    border-collapse: collapse;
    margin-bottom: 1rem;
}

.table tr td,th{
    padding: 15px 15px;
    border: .5px solid #e2e2e2;
}

.table tr th{
    width: 10rem;
}

.table tr td{
    width: 20rem;
} */