.profile-image{
    max-width: 150px;
    max-height: 150px;
    /* border: 1px solid black;
    border-radius: 25px; */
}


.bold{
    font-weight: bold;
}
.mt1-5rem{
    margin-top: 1.5rem;
}

.table{
    width: 80%;
    border-collapse: collapse;
    margin-bottom: 1rem;
}

.table tr td,th{
    padding: 15px 15px;
    border: .5px solid #e2e2e2;
}

.table tr th{
    width: 10rem;
}

.table tr td{
    width: 20rem;
}